// Colors 
$main-light-color: #D7BB70;
$main-blue-color: #00C2FF;
$black-color: #000000;
$white-color: #FFF;
$poster-color-d1: #00C2FF;
$poster-color-d2: #74DEFF;
$poster-color-d3: #DEEDF2;
$poster-color-d4: #DEE7FF;
$poster-color-d5: #EDFBFF;
// Colors 

// fonts 
@font-face {
    font-family: "Futura Light Font";
    src: local("Futura"),
     url("./fonts/FuturaLightFont.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Futura Heavy Font";
    src: local("Futura"),
     url("./fonts/FuturaHeavyFont.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Futura Bold Font";
    src: local("Futura"),
     url("./fonts/FuturaBoldFont.ttf") format("truetype");
    font-weight: bold;
}
// fonts 

// Functions 
@mixin sectionMainHeading() {
    font-family: Futura Heavy Font;
    font-size: 4rem;
}
@mixin sectionMainHeadingMedium() {
    font-family: Futura Heavy Font;
    font-size: 3rem !important;
}
@mixin sectionMainHeadingSmall() {
    font-family: Futura Heavy Font;
    font-size: 2rem !important;
}
@mixin padding-shared() {
    padding-left: 70px;
    padding-right: 70px;
}
@mixin padding-shared-1200() {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
@mixin padding-shared-992() {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
@mixin padding-shared-768() {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
// Functions 

body{
    font-family: Futura Light Font;
    font-size: x-large;
    .sectionMainHeading{
        @include sectionMainHeading();
        font-weight: 800;
    }
    .navigation{
        position: fixed;
        // display: none;
        z-index: 100;
        width: 100%;
        .navbar{
            background-color: $white-color;
            border-bottom: 3px solid $main-blue-color;
            height: 80px;
            .container-fluid{
                // padding: 5px 70px;
                @include padding-shared;
                .navbar-brand{
                    img{
                        height: 40px;
                    }
                }
                .navbar-toggler{

                }
                .navbar-collapse{
                    ul{
                        margin-left: auto;
                        li{
                            font-size: 1.2rem;
                            padding: 5px 10px;
                            a{
                                color: black;
                                font-weight: 600;
                                font-family: Futura Bold Font;
                                &:hover{
                                    color: $main-blue-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hero{
        padding-top: 140px;
        .carousel{
            // padding: 50px 70px;
            @include padding-shared;
            padding-bottom: 80px;
            background-color: $white-color;
            .carousel-inner{
                .carousel-item{
                    .slide{
                        .container-fluid{
                            .row{
                                .left{
                                    h1{
                                        margin-bottom: 20px;
                                        font-size: 2.8rem;
                                        font-family: Futura Bold Font;
                                    }
                                    p{
                                        margin-bottom: 30px;
                                        font-size: large;
                                    }
                                    button{
                                        background-color: $main-blue-color;
                                        border: 2px solid rgba(0,0,0,0);
                                        border-radius: 50px;
                                        padding: 15px 30px;
                                        font-weight: 600;
                                        font-size: large;
                                        color: white;
                                        -webkit-transition: all 0.5s ease-out;
                                        -moz-transition: all 0.5s ease-out;
                                        -o-transition: all 0.5s ease-out;
                                        -webkit-transition: all 0.5s ease-in;
                                        -moz-transition: all 0.5s ease-in;
                                        -o-transition: all 0.5s ease-in;
                                        &:hover{
                                            background-color: white;
                                            border: 2px solid $main-blue-color;
                                            color: $main-blue-color;
                                        }
                                    }
                                }
                                .right{
                                    text-align: right;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .heroCompanies{
            background-color: $black-color;
            padding: 25px 20px;
            text-align: center;
        }
    }
    .services{
        padding: 50px 70px;
        @include padding-shared;
        padding-top: 100px;
        h5{
            font-weight: 700;
        }
        .sectionMainHeading{
            @include sectionMainHeading();
            font-weight: 800;
        }
        .servicesCards{
            padding: 50px 0px;
            padding-top: 70px;
            .container-fluid{
                .row{
                    .serviceCard{
                        padding: 15px 50px;
                        padding-top: 30px;
                        border-radius: 10px;
                        // padding-right: 0;
                        -webkit-transition: all 0.2s ease-out;
                        -moz-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        -o-transition: all 0.2s ease-in;
                        .cardHeader{
                            // text-align: center;
                            img{
                                width: 50%;
                            }
                        }
                        .cardBody{
                            h4{
                                font-weight: 800;
                                font-family: Futura Bold Font;
                            }
                            h5{
                                font-weight: 400;
                            }
                            h3{
                                // font-weight: 300;
                                i{
                                    color: rgba(0,0,0,0);
                                }
                            }
                        }
                        &:hover{
                            background-color: $poster-color-d3;
                            .cardBody{
                                h3{
                                    i{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .testimonials{
        padding: 50px 70px;
        @include padding-shared;
        padding-top: 0;
        .slick-arrow{
            display: none !important;
        }
        h5{
            font-weight: 700;
        }
        .sectionMainHeading{
            @include sectionMainHeading();
            margin-bottom: 50px;
            font-weight: 800;
        }
        .testimonial{
            padding: 10px;
            .container-fluid{
                border: 1px solid rgba(72, 72, 72, 0.3);
                border-radius: 20px;
                padding: 10px;
                .row{
                    .left{
                        // background-color: green;
                    }
                    .right{
                        // background-color: red;
                        padding: 0px 15px;
                    }
                }
            }
            video{
                width: 100%;
                border-radius: 20px;
            }
            .great{
                margin-top: 10px;
                img{
                    width: 40%;
                    transform: rotate(-5deg);
                }
                margin-bottom: 20px;
            }
            h4{
                font-weight: 400;
            }
            .userInfo{
                margin-top: 30px;
                .line1{
                    font-size: x-large;
                    font-family: Futura Bold Font;
                    i{
                        color: $main-blue-color;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }
                }
                .line2{
                    p{
                        font-size: large;
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .hot{
        padding: 50px 70px;
        @include padding-shared;
        h5{
            font-weight: 700;
        }
        .h1Num{
            font-size: 4rem;
            font-weight: 700;
            font-family: Futura Heavy Font;
        }
        h3{

        }
        .sectionMainHeading{
            @include sectionMainHeading();
            font-family: Futura Heavy Font;
            font-weight: 800;
        }
        .stats{
            text-align: center;
            background-color: black;
            padding: 50px 30px;
            color: white;
            position: relative;
            margin-top: 50px;
            border-radius: 20px;
            .tick{
                position: absolute;
                top: -30%;
                right: 50px;
                img{        
                    width: 80%;
                }
            }
        }
    }
    .achievements{
        padding: 50px 70px;
        @include padding-shared;
        .sectionMainHeading{
            @include sectionMainHeading();
            font-weight: 800;
        }
        .container-fluid{
            .row{
                margin-top: 50px;
                .left{
                    text-align: center;
                    img{
                        width: 60%;
                    }
                }
                .right{
                    h2{
                        font-weight: 400;
                        font-family: Futura Bold Font;
                    }
                }
            }
        }
    }
    .work{
        padding: 50px 70px;
        @include padding-shared;
        margin-top: 30px;
        .slick-arrow{
            display: none !important;
        }
        .sectionMainHeading{
            @include sectionMainHeading();
            font-weight: 800;
        }
        .slider{
            margin-top: 50px;
            .swipe{
                text-align: center;
                font-size: large;
                margin-top: 25px;
                .fa-angle-double-left{
                    margin-right: 10px;
                    animation: move 3s infinite;

                }
                .fa-angle-double-right{
                    margin-left: 10px;
                }
            }
            div{
                .singleWork{
                    margin: 5px 5px;
                    padding: 30px 20px;
                    min-height: 550px;
                    position: relative;
                    color: white;
                    .no{
                        font-size: x-large;
                        font-weight: 700;
                        .lineIn{

                        }
                    }
                    .credit{
                        position: absolute;
                        bottom: 10px;
                        button{
                            display: none;
                            background-color: $white-color;
                            border: 0;
                            padding: 5px 10px;
                            font-size: large;
                            -webkit-transition: background-color 0.5s ease-out;
                            -moz-transition: background-color 0.5s ease-out;
                            -o-transition: background-color 0.5s ease-out;
                            transition: background-color 0.5s ease-out;
                            &:hover{
                                background-color: $main-blue-color;
                                color: white;
                            }
                        }
                    }
                    &:hover{
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        filter: contrast(1.2);       
                        .no{
                            .lineIn{
                                
                            }
                        }
                        .credit{
                            transition:.6s ease;
                            position: absolute;
                            bottom: 10px;
                            button{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact{
        padding: 50px 70px;
        @include padding-shared;
        h5{
            font-weight: 700;
        }
        .sectionMainHeading{
            @include sectionMainHeading();
            margin-bottom: 50px;
            font-weight: 800;
        }
        .container-fluid{
            .row{
                .coll{
                    padding: 5px 100px;
                    padding-left: 0px;
                }
            }
            .banner{
                background-color: black;
                border-radius: 20px;
                padding-bottom: 30px;
                .left{
                    // padding-top: 20px;
                    color: white;
                    padding-left: 50px;
                    font-size: xx-large;
                    h1{
                        font-size: 3rem;
                        font-weight: 900;
                    }
                    hr{
                        width: 50%;
                    }
                    button{
                        font-size: large;
                        padding: 15px 30px;
                        background-color: #000000;
                        border: 2px solid white;
                        border-radius: 50px;
                        color: white;
                        -webkit-transition: background-color 0.5s ease-out;
                        -moz-transition: background-color 0.5s ease-out;
                        -o-transition: background-color 0.5s ease-out;
                        transition: background-color 0.5s ease-out;
                        i{
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: white;
                            color: black;
                        }
                    }
                }
                .right{
                    padding: 0 !important;
                    img{
                        width: 100%;
                        text-align: right;
                    }
                }
            }
        }
    }
    .contactEmail{
        background-color: $poster-color-d4;
        padding: 50px 70px;
        @include padding-shared;
        .container-fluid{
            .row{
                .left{
                    img{
                        // height: 80%;
                        max-width: 60%;
                    }
                }
                .right{
                    h1{
                        font-size: 4rem;
                        font-weight: 800;
                        font-family: Futura Bold Font;
                    }
                    h2{
                        font-size: xx-large;
                        margin-top: 30px;
                    }
                    h4{
                        margin-top: 25px;
                    }
                    button{
                        background-color: $black-color;
                        padding: 15px 30px;
                        border: 0;
                        border-radius: 50px;
                        color: white;
                        font-size: x-large;
                        margin-top: 30px;
                        -webkit-transition: all 0.2s ease-out;
                        -moz-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        -o-transition: all 0.2s ease-in;
                        &:hover{
                            background-color: $main-blue-color;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .footer{
        padding: 50px 70px;
        @include padding-shared;
        background-color: $poster-color-d3;
        .container-fluid{
            .row{
                .left{
                    img{
                        
                    }
                    h5{
                        font-weight: 400;
                    }
                }
                .right{
                    ul{
                        li{
                            display: inline-block;
                            list-style: none;
                            padding: 0px 15px;
                            a{
                                text-decoration: none;
                                color: black;
                                font-size: large;
                            }
                            &:hover{
                                a{
                                    font-weight: 500;
                                    // text-decoration: underline;
                                    color: $main-blue-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Our service Page 

    .ourServices{
        padding-top: 80px;
        .banner{
            padding: 50px 70px;
            @include padding-shared();
            .container-fluid{
                .row{
                    h1{
                        font-size: 3.5rem;
                        font-family: Futura Bold Font;
                        color: white;
                    }
                }
            }
        }
    }
    .designProcess{
        // padding-top: 30px;
        .headings{
            padding: 50px 70px;
            background-color: rgb(243, 243, 243);
            // @include padding-shared;
            .sectionMainHeading{
                @include sectionMainHeading();
                font-weight: 800;
            }
        }
        .processSteps{
            .slick-arrow{
                display: none !important;
            }
            .container-fluid{
                background-color: #000000;
                max-width: 100%;
                // margin-top: 20px;
                padding: 0px 70px;
                @include padding-shared;
                // padding: 40px 40px;
                padding-bottom: 50px;
                .row{
                    color: white;
                    padding: 0 !important;
                    width: 100%;
                    .stepNo{
                        margin-bottom: 40px;
                        h2{
                            background-color: white;
                            display: inline-block;
                            color: black;
                            padding: 25px 40px;
                            font-family: Futura Heavy Font;
                            font-size: medium;
                        }
                    }
                    .left{
                        h1{
                            font-family: Futura Bold Font;
                            font-size: 3rem;
                        }
                        h4{
                            color: #6f6f6f;
                        }
                    }
                    .mid{
                        h1{
                            font-family: Futura Bold Font;
                            font-size: 3rem;
                        }
                        ul{
                            color: #6f6f6f;
                        }
                    }
                    .right{
                            text-align: center;
                        img{
                            height: 300px;
                            max-width: 100%;
                        }
                    }
                }
                .stepsCards{
                    margin-top: 50px;
                    div{
                        .cardd{
                            padding: 5px;
                            .cardIn{
                                color: white;
                                text-align: center !important;
                                background-color: #1d1d1d;
                                border-radius: 15px;
                                padding-top: 20px;
                                -webkit-transition: all 0.3s ease-out;
                                -moz-transition: all 0.3s ease-out;
                                -o-transition: all 0.3s ease-out;
                                -webkit-transition: all 0.3s ease-in;
                                -moz-transition: all 0.3s ease-in;
                                -o-transition: all 0.3s ease-in;
                                font-family: Futura Bold Font;
                                min-height: 220px;
                                h3{
                                    font-size: 1.5rem !important;
                                }
                                img{
                                    width: 40%;
                                }
                                &:hover{
                                    background: rgb(42,67,248);
                                    background: radial-gradient(circle, rgba(42,67,248,1) 0%, rgba(29,29,29,1) 91%);
                                }
                            }
                            .active{
                                background-color: #2a43f8 !important;
                                color: white;
                                text-align: center !important;
                                background-color: #1d1d1d;
                                border-radius: 15px;
                                padding-top: 20px;
                                -webkit-transition: all 0.3s ease-out;
                                -moz-transition: all 0.3s ease-out;
                                -o-transition: all 0.3s ease-out;
                                -webkit-transition: all 0.3s ease-in;
                                -moz-transition: all 0.3s ease-in;
                                -o-transition: all 0.3s ease-in;
                                font-family: Futura Bold Font;
                                min-height: 220px;
                                h3{
                                    font-size: 1.5rem !important;
                                }
                                img{
                                    width: 40%;
                                }
                                &:hover{
                                    background-color: #2a43f8 !important;
                                }
                            }
                        }
                    }
                    .swipe{
                        text-align: center;
                        color: white;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .serviceSection{
        padding: 50px 70px;
        @include padding-shared;
        h5{
            font-weight: 700;
        }
        .h1Num{
            font-size: 4rem;
            font-weight: 700;
            font-family: Futura Heavy Font;
        }
        h3{

        }
        .sectionMainHeading{
            @include sectionMainHeading();
            font-family: Futura Heavy Font;
            font-weight: 800;
        }
    }
    .servicesMain{
        margin-top: 100px;
        .container-fluid{
            hr{
                background-color: $main-blue-color;
                margin-bottom: 100px;
            }
            .row{
                .left-main{
                    img{
                        width: 80%;
                    }
                }
                .right-main{
                    .serviceSingleHeading{
                        font-family: Futura Heavy Font !important;
                        margin-top: 40px;
                    }
                    p{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    .singleService{
        .row{
            border-top: 2px solid rgba(0, 0, 0, 0.6);
            padding-top: 30px;
            padding-bottom: 30px;
            .left{
                h2{
                    font-family: Futura Bold Font !important;
                }
            }
            .mid{
                text-align: right;
                img{
                    height: 200px;
                    visibility: hidden;
                    max-width: 100%;
                }
            }
            .right{
                text-align: right !important;
                h1{
                    text-align: right;
                    width: 100%;
                    a{
                        color: black;
                    }
                }
            }
            &:hover{
                .left{
                    h2{
                        color: $main-blue-color;
                    }
                }
                .mid{
                    img{
                        visibility: visible !important;
                    }
                }
                .right{
                    h1{
                        color: $main-blue-color;
                    }
                }
            }
        }
    }
    // Our service Page 

    // Work Page 
    .workPage{
        padding-top: 40px;
        .banner{
            padding: 50px 70px;
            @include padding-shared();
            .container-fluid{
                .row{
                    h1{
                        font-size: 3.5rem;
                        font-family: Futura Bold Font;
                        color: white;
                    }
                }
            }
        }
        .workMain{
            padding: 50px 70px;
            @include padding-shared;
            h5{
                font-weight: 700;
            }
            .sectionMainHeading{
                @include sectionMainHeading();
                font-family: Futura Heavy Font;
                font-weight: 800;
            }
            .workShowcase{
                .container-fluid{
                    .row{
                        padding: 0 !important;
                        .coll{
                            padding: 0 !important;
                            .workCard{
                                -webkit-transition: all 0.5s ease-out;
                                -moz-transition: all 0.5s ease-out;
                                -o-transition: all 0.5s ease-out;
                                -webkit-transition: all 0.5s ease-in;
                                -moz-transition: all 0.5s ease-in;
                                -o-transition: all 0.5s ease-in;
                                padding: 10px;
                                cursor: pointer;
                                margin-top: 20px;
                                background-color: white;
                                .cardHeader{
                                    img{
                                        width: 100%;
                                    }
                                }
                                .cardBody{
                                    -webkit-transition: all 0.5s ease-out;
                                    -moz-transition: all 0.5s ease-out;
                                    -o-transition: all 0.5s ease-out;
                                    -webkit-transition: all 0.5s ease-in;
                                    -moz-transition: all 0.5s ease-in;
                                    -o-transition: all 0.5s ease-in;
                                    h2{
                                        margin-top: 20px;
                                        font-family: Futura Bold Font;
                                    }
                                }
                                &:hover{
                                    // border: 0;
                                    transform: scale(1.05);
                                    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
                                    .cardHeader{
                                        img{
                                            filter: contrast(1.5);
                                        }
                                    }
                                    .cardBody{
                                        padding: 10px 2%;
                                        h2{
                                            margin-top: 20px;
                                            font-family: Futura Bold Font;
                                            color: $main-blue-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Work Page 

    // About Page 
    .about{
        padding-top: 40px;
        .banner{
            padding: 100px 70px;
            @include padding-shared();
            h1{
                font-size: 3.5rem;
                font-family: Futura Bold Font;
                color: white;
            }
        }
        .aboutMain{
            padding: 50px 70px;
            @include padding-shared;
            h5{
                font-weight: 700;
            }
            .sectionMainHeading{
                @include sectionMainHeading();
                font-family: Futura Heavy Font;
                font-weight: 800;
            }
            .container-fluid{
                .row{
                    h3{
                        margin-top: 40px;
                    }
                }
                .parallaxRow{
                    margin-top: 50px;
                    .parallaxIn{
                        min-height: 300px;
                        color: white;
                        padding: 30px 20px;
                        .sectionMainHeading{
                            @include sectionMainHeading();
                            font-weight: 800;
                        }
                    }
                }
                .team{
                    margin-top: 100px;
                    .row{
                        .memberCard{
                            margin-top: 100px;
                            .cardHeader{
                                text-align: center;
                                img{
                                    width: 50%;
                                }
                            }
                            .cardBody{
                                text-align: center;
                                padding-top: 30px;
                                h2{
                                    font-family: Futura Bold Font;
                                    line-height: 0;
                                }
                                h3{
                                    line-height: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .feedback{
        padding: 60px;
        @include padding-shared();
        .container-fluid{
            .feedbackRow{
                margin-top: 50px;
                h5{
                    font-size: larger;
                }
                .info{
                    h5{
                        font-family: Futura Bold Font;
                        margin-top: 40px;
                    }
                    h4{

                    }
                }
                .carouselControlClass{
                    .carouselControl{
                        background-color: $main-blue-color !important;
                        border: 0;
                        margin-left: 10px;
                        padding: 10px 18px;
                        margin-bottom: 10px;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    // About Page 

    // Contact Page 
    .contactPage{
        padding-top: 40px;
        .banner{
            padding: 100px 70px;
            @include padding-shared();
            h1{
                font-size: 3.5rem;
                font-family: Futura Bold Font;
                color: white;
            }
        }
        .contactMain{
            padding: 50px 70px;
            @include padding-shared();
            .contactForm{
                margin-bottom: 50px;
                .form{
                    border: 1px solid black;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .container-fluid{
                        .contactHeading{
                            font-family: Futura Heavy Font;
                            hr{
                            }
                        }
                        .row{
                            label{
                                font-family: Futura Bold Font;
                                // margin-top: 30px;
                                margin-bottom: 5px;
                                .impStar{
                                    color: red;
                                }
                            }
                            input, textarea{
                                width: 100%;
                                padding: 5px 10px;
                                margin-bottom: 20px;
                            }
                            button{
                                background-color: $main-blue-color;
                                color: white;
                                padding: 10px 20px;
                                border: 2px solid rgba(0, 0, 0, 0);
                                -webkit-transition: all 0.5s ease-out;
                                -moz-transition: all 0.5s ease-out;
                                -o-transition: all 0.5s ease-out;
                                -webkit-transition: all 0.5s ease-in;
                                -moz-transition: all 0.5s ease-in;
                                -o-transition: all 0.5s ease-in;
                                &:hover{
                                    background-color: white;
                                    border: 2px solid $main-blue-color;
                                    color: $main-blue-color;
                                }
                            }
                        }
                    }
                }
            }
            .contactInfo{
                border: 1px solid black;
                padding: 10px;
                h1{
                    font-family: Futura Bold Font;
                }
                .country{
                    font-family: Futura Bold Font;
                    margin-top: 30px;
                    i{
                        margin-right: 10px;
                    }
                }
                .location{
                    margin-top: 20px;
                    i{
                        margin-right: 10px;
                    }
                }
                .phone{
                    margin-top: 20px;
                    i{
                        margin-right: 10px;
                    }
                }
                .countryIcon{
                    color: #0080ff;
                }
                .locationIcon{
                    color: #0015ff;
                }
                .phoneIcon{
                    color: #00a60e;
                }
            }
        }
    }
    // Contact Page 
}


// Media Query 


@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1200px) {
    
    .navigation{
        .navbar{
            .container-fluid{
                @include padding-shared-1200;
            }
        }
    }
    .hero{
        padding-top: 140px !important;
        .carousel{
            @include padding-shared-1200;
        }
    }
    .services{
        @include padding-shared-1200
    }
    .testimonials{
        @include padding-shared-1200;
    }
    .hot{
        .h1Num{
            font-size: 4rem;
            font-weight: 700;
            margin-top: 40px;
        }
        .stats{
            .tick{
                display: none;
            }
        }
    }
    .achievements{
        @include padding-shared-1200
    }
    .work{
        @include padding-shared-1200
    }
    .contact{
        @include padding-shared-1200
    }
    .contactEmail{
        @include padding-shared-1200
    }
    .footer{
        @include padding-shared-1200
    }
    .serviceSection{
        padding: 50px 70px;
        @include padding-shared-1200();
    }

}
@media only screen and (max-width: 992px) {
    
    .navigation{
        .navbar{
            .container-fluid{
                @include padding-shared-992;
            }
            .navbar-collapse{
                background-color: #ffffff;
                margin-top: 20px;
                border: 1px solid $main-blue-color
            }
        }
    }
    .hero{
        padding-top: 140px !important;
        .carousel{
            @include padding-shared-992;
        }
        .heroCompanies{
            font-size: xx-large;
        }
    }
    .services{
        @include padding-shared-992
    }
    .testimonials{
        @include padding-shared-992;
        .sectionMainHeading{
            @include sectionMainHeadingMedium();
        }
    }
    .hot{
        @include padding-shared-992
    }
    .achievements{
        @include padding-shared-992;
        .sectionMainHeading{
            @include sectionMainHeadingMedium();
            font-weight: 800;
        }
    }
    .work{
        @include padding-shared-992;
        .sectionMainHeading{
            @include sectionMainHeadingMedium();
        }
    }
    .contact{
        @include padding-shared-992
    }
    .contactEmail{
        @include padding-shared-992
    }
    .footer{
        @include padding-shared-992
    }
    .designProcess{
        .headings{
            @include padding-shared-992();
            padding: 5px !important;
        }
        .processSteps{
            .container-fluid{
                @include padding-shared-992();
                padding: 5px !important;
            }
        }
        .stepsCards{
            padding-bottom: 50px;
        }
    }
    .serviceSection{
        padding: 50px 70px;
        @include padding-shared-992();
    }
    .ourServices{
        padding-top: 80px;
        .banner{
            @include padding-shared-992();
        }
    }
    .serviceSection{
        .sectionMainHeading{
            @include sectionMainHeadingMedium();
        }
    }
    .singleService{
        
        .row{
            border-top: 2px solid rgba(0, 0, 0, 0.6);
            padding-top: 30px;
            padding-bottom: 30px;
            .left{
                h2{
                    font-family: Futura Bold Font !important;
                }
            }
            .mid{
                // background-color: red;
                text-align: center;
                img{
                    height: 200px;
                    visibility: visible !important;
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
            .right{
                text-align: right !important;
                h1{
                    text-align: center !important;
                    width: 100%;
                    i{
                    }
                }
            }
        }
    }
    .workPage{
        .banner{
            @include padding-shared-992;
        }
        .workMain{
            @include padding-shared-992();
        }
    }
    .about{
        padding-top: 40px;
        .banner{
            padding: 50px 70px;
            @include padding-shared-992();
        }
    }
    .aboutMain{
        padding: 50px 70px;
        @include padding-shared-992();
        h5{
            font-weight: 700;
        }
        .sectionMainHeading{
            @include sectionMainHeadingMedium();
        }
    }
    .feedback{
        padding: 60px;
        @include padding-shared-992();
    }
    .contactPage{
        .banner{
            @include padding-shared-992();
        }
        .contactMain{
            @include padding-shared-992();
        }
    }

}
@media only screen and (max-width: 768px) {
    .hero{
        padding-top: 80px;
        .carousel{
            // padding: 50px 70px;
            @include padding-shared;
            padding-bottom: 80px;
            background-color: $white-color;
            .carousel-inner{
                .carousel-item{
                    .slide{
                        .container-fluid{
                            .row{
                                .left{
                                }
                                .right{
                                    text-align: left !important;
                                    margin-top: 20px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contact{
        .container-fluid{
            .banner{
                .right{
                    img{
                        display: none;
                    }
                }
            }
        }
    }
    .contactEmail{
        .container-fluid{
            .row{
                text-align: center;
                .left{
                    // text-align: center !important;
                    img{
                        width: 50%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
    .serviceSection{
        padding: 50px 70px;
        @include padding-shared-768();
    }
    .serviceSection{
        .sectionMainHeading{
            padding: 50px 70px;
            @include padding-shared-768();
            @include sectionMainHeadingSmall();
        }
    }
    .singleService{
        .row{
            .left{
            }
            .mid{
                img{
                    visibility: visible;
                }
            }
        }
    }
    .footer{
        .container-fluid{
            .row{
                .left{
                    img{
                        
                    }
                    h5{
                        
                    }
                }
                .right{
                    justify-content: flex-start !important;
                    padding-left: 0 !important;
                    ul{
                        margin-left: 0 !important;
                        padding-left: 10px !important;
                        margin: 0 auto !important;
                        li{
                            display: inline-block;
                            padding-left: 0 !important;
                            text-align: center;
                            margin-bottom: 10px;
                            margin-top: 20px !important;
                            a{
                                font-weight: 400;
                                font-size: x-large !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {

}

// Media Query 
